@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Regular.eot');
    src: url('Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-Regular.woff2') format('woff2'),
        url('Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Medium.eot');
    src: url('Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-Medium.woff2') format('woff2'),
        url('Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-SemiBold.eot');
    src: url('Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-SemiBold.woff2') format('woff2'),
        url('Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Bold.eot');
    src: url('Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('Pretendard-Bold.woff2') format('woff2'),
        url('Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



body {
    background-color: antiquewhite;
    font-family: 'Pretendard';
    color: #333;
}

#wrap {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fff;
}


.header {
    width: 402px;
    height: 29px;
    margin: 0 auto;
}

.header .inner {
    margin: 60px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo a img {
    width: 110px;
    height: 100%;
    object-fit: cover;
}

.header .inner .nav button {
    width: 29px;
    height: 29px;
    object-fit: cover;
}

.header .inner .nav .bell {
    margin-right: 10px;
}



.main {
    width: 402px;
    margin: 0 auto;
}

.main .inner .search .camera {
    width: 362px;
    height: 40px;
    margin: 8px 20px 17px;
    border-radius: 5px;
    background-color: #E9E9E9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.main .inner .search .camera img {
    width: 21.83px;
    height: 21.83px;
    object-fit: cover;
}


.main_visual {
    max-width: 402px;
    margin: 0 auto;
}
.main_visual .swiper-wrapper {
    align-items: center;
}
/* .main_visual .swiper {
    padding: 100px 0;

} */
.main_visual .swiper-slide {
    width: calc(100% - 52px);
    height: 370px;
    transform: scale(0.5);
    opacity: 0.5;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.main_visual .swiper-slide.swiper-slide-active {
    transform: scale(1);
    z-index: 99;
    opacity: 1;
}
.main_visual .swiper-slide img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 20px;
}
.main_visual .swiper-slide .text {
    position: absolute;
    bottom: 25px;
    left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.main_visual .swiper-slide .text strong {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1px;
}

.main_visual .swiper-slide .text b {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
}

.main_visual .swiper-slide .text p {
    font-size: 15px;
    font-weight: 200;
}

.main_visual .swiper-slide .num {
    position: absolute;
    bottom: 18px;
    right: 18px;
    width: 50px;
    height: 20px;
    border-radius: 15px;
    background-color: #F1F1F1;
    text-align: center;
    line-height: 18px;
}

.main_visual .swiper-slide .num span {
    font-size: 13px;
    color: #595959;
}

.main_visual .swiper-slide {
    transform: scale(0.9);
}

.main_visual .swiper-slide.swiper-slide-next img {
    transform: scale(1.1);
}


.main_visual .nav {
    margin: 25px 0 75px;
}

.main_visual .nav .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_visual .nav .gnb li {
    text-align: center;
}

.main_visual .nav .gnb li a {
    width: 65px;
    height: 65px;
    background-color: #F5F5F5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}

.main_visual .nav .gnb li a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.main_visual .nav .gnb li strong {
    font-size: 15px;
    font-weight: 700;
}


.section-01 {
    margin: 0 20px 75px;
}

.section-01 .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-01 .title h2 {
    font-size: 20px;
    font-weight: 700;
}

.section-01 .list {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;
}

.section-01 .list::-webkit-scrollbar {
    display: none;
}

.section-01 .list .item {
    width: 27.36%
}

.section-01 .list .item img {
    width: 100%;
    height: 67.2%;
    object-fit: cover;
    margin-bottom: 5px;
}

.section-01 .list .item .text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.section-01 .list .item .text p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1px;
}

.section-01 .list .item .text b {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
}

.section-01 .list .item .text span {
    font-size: 12px;
    font-weight: 200;
    color: #B4B4B4;
}

.section-02 {
    margin: 0 20px 90px;
}

.section-02 .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-02 .title h2 {
    font-size: 20px;
    font-weight: 700;
    color: #F8742E;
}

.section-02 .list {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.section-01 .list .item {
    width: 27.36%
}

.section-02 .list::-webkit-scrollbar {
    display: none;
}

.section-02 .list .depth-01 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-02 .list .depth-02 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-02 .list img {
    width: 100%;
    height: 67.2%;
    object-fit: cover;
    margin-bottom: 5px;
}

.section-02 .list .text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.section-02 .list .text p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1px;
}

.section-02 .list .text b {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
}

.section-02 .list .text span {
    font-size: 12px;
    font-weight: 200;
    color: #B4B4B4;
}

.section-03 {
    margin: 0 20px 80px;
}

.section-03 .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-03 .title h2 {
    font-size: 20px;
    font-weight: 700;
    color: #F8742E;
}

.section-03 .list {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    row-gap: 15px;
}

.section-03 .list::-webkit-scrollbar {
    display: none;
}

.section-03 .list .depth-01 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-03 .list .depth-02 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-03 .list .depth-03 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-03 .list .item img {
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-bottom: 5px;
}

.section-03 .list .item b {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}


.section-04 {
    margin: 0 15px 105px;
}

.section-04 h2 {
    margin-left: 5px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
}

.section-04 .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.section-04 .list .depth-01 {
    display: flex;
    align-items: center;
    gap: 18px;
}

.section-04 .list .depth-02 {
    display: flex;
    align-items: center;
    gap: 18px;
}

.section-04 .list .item {
    width: 60px;
    height: 81px;
}

.section-04 .list .item img {
    width: 100%;
    height: 74.1%;
    object-fit: cover;
    border-radius: 3px;
}

.section-04 .list .item b {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}


.section-05 {
    margin: 0 20px 115px;
}
.section-05 h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
}
.section-05 .tab_menu {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    overflow: auto;
}
.section-05 .tab_menu::-webkit-scrollbar {
    display: none;
}
.section-05 .tab_menu li {
    height: 30px;
    background-color: #E9E9E9;
    padding: 5px 15px;
    border-radius: 15px;
    color: #595959;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-05 .tab_menu li.active {
    background-color: #F8742E;
    color: #fff;
    font-weight: 600;
}
.section-05 .list{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 10px;
    overflow: auto;
    display: none;
}
.section-05 .list.active{
    display: block;
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 10px;
    overflow: auto;
}
.section-05 .list::-webkit-scrollbar {
    display: none;
}
.section-05 .list .item{
    width: 285px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-05 .list .item .num b{
    font-size: 20px;
    font-weight: 700;
    margin-right: 17px;
}
.section-05 .list .item img{
    width: 22.1%;
    height: 100%;
    object-fit: cover;
    margin-right: 16px;
}
.section-05 .list .item .text{
    display: flex;
    flex-direction: column;
    margin-right: 37px;
    white-space: nowrap;
    overflow: hidden;
}
.section-05 .list .item .text p{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1px;
}
.section-05 .list .item .text span{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}
.section-05 .list .item .text b{
    font-size: 15px;
    font-weight: 700;
}
.section-05 .list .item .rank{
    object-fit: cover;
}


.bottom_nav{
    width: 402px;
    margin: 0 auto;
}
.bottom_nav .tab_nav{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
}
.bottom_nav .tab_nav li{
    width: 33px;
    height: 45px;
}
.bottom_nav .tab_nav li img{
    width: 100%;
    object-fit: cover;
}
.bottom_nav .tab_nav li b{
    font-size: 10px;
    font-weight: 500;
}