@charset "utf-8";
@import url('reset.css');


@font-face {
    font-family: 'Zen Dots';
    src: url('../font/Zen\ Dots/ZenDots-Regular.woff2') format('woff2'),
        url('../font/Zen\ Dots/ZenDots-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: 'Pretendard';
    color: #333;
}

#wrap{
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
    background-color: #fbfbfb;
}

.header .inner,
.main .inner{
    max-width: 480px;
    width: 402px;
    margin: 0 auto;
}


.header .inner{
    padding: 30px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo a{
    font-family: 'Zen Dots';
    font-size: 23px;
    font-weight: bold;
    color: #F8742E;
    -webkit-text-stroke: 2px #F8742E;
}
.header .inner .nav{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.header .inner .nav a img{
    width: 29px;
    object-fit: cover;
}



.main {
    max-width: 480px;
    width: 402px;
    margin: 0 auto;
    margin-bottom: 17px;
}
.main .inner{
    width: 100%;
    margin: 0 auto;
}
.main .inner .search{
    position: relative;
    width: 100%;
    margin: 0 auto 17px;
}
 .main .inner .search .camera{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
 }
.main .inner .search input[type="text"]{
    width: 362px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #E9E9E9;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
}
.main .inner .search input:focus{
    outline: 1.5px solid #595959;
    border: 0;
    color: #333;
}
.main .inner .search .camera img {
    width: 25px;
    object-fit: cover;
}


.main_visual {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}
.main_visual .swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.main_visual .swiper-slide {
    width: 350px;
    height: 340px;
    opacity: 0.7;
    border-radius: 20px;
    position: relative;
}
.main_visual .swiper-slide.swiper-slide-active {
    /* width: 350px;
    height: 370px;
    margin: 0 auto;
    transform: scale(1);
    z-index: 99; */
    opacity: 1;
}

.main_visual .swiper-slide.swiper-slide-active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: RGBA(0, 0, 0, 1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 100%);
}
.main_visual .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.main_visual .swiper-slide .text {
    position: absolute;
    bottom: 30px;
    left: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.main_visual .swiper-slide .text strong {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 8px;
}
.main_visual .swiper-slide .text b {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}
.main_visual .swiper-slide .text p {
    font-size: 15px;
    font-weight: 400;
}

.main_visual .swiper-slide .num {
    position: absolute;
    bottom: 18px;
    right: 18px;
    width: 47px;
    height: 20px;
    border-radius: 15px;
    background-color: #F1F1F1;
    text-align: center;
    line-height: 18px;
    z-index: 10;
}
.main_visual .swiper-slide .num span {
    font-size: 12px;
    font-weight: 500;
    color: #595959;
}

/* .main_visual .swiper-slide {
    transform: scale(0.9);
}
.main_visual .swiper-slide.swiper-slide-next img {
    transform: scale(1.1);
} */



.main_visual .nav {
    margin: 25px 20px 100px;
}
.main_visual .nav .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_visual .nav .gnb li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
.main_visual .nav .gnb li a {
    width: 65px;
    height: 65px;
    background-color: #F5F5F5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
}
.main_visual .nav .gnb li a img {
    width: 61.53%;
    height: 61.53%;
    object-fit: contain;
}
.main_visual .nav .gnb li strong {
    font-size: 14px;
    font-weight: 600;
}
.main_visual .nav .gnb li.active strong{
    font-weight: 700;
    color: #F8742E;
}



.section-01 {
    width: 402px;
    padding: 0 20px 75px 20px;
    margin: 0 auto;
    border-bottom: 10px solid #eee;
}
.section-01 .title {
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-01 .title h2 {
    font-size: 20px;
    font-weight: 700;
}
.section-01 .title img{
    height: 25px;
    object-fit: cover;
}

.section-01 .list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.section-01 .list .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-01 .list .item img {
    width: 110px;
    object-fit: cover;
    margin-bottom: 5px;
}

.section-01 .list .item .text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.section-01 .list .item .text p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section-01 .list .item .text b {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
    white-space: nowrap;
}
.section-01 .list .item .text span {
    font-size: 12px;
    font-weight: 400;
    color: #8D8D8D;
    white-space: nowrap;
}



.section-02 {
    width: 402px;
    padding: 75px 20px 90px;
    margin: 0 auto;
    border-bottom: 10px solid #eee;
}
.section-02 .title {
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-02 .title h2 {
    font-size: 20px;
    font-weight: 700;
    color: #F8742E;
}
.section-02 .title img{
    height: 25px;
    object-fit: cover;
}

.section-02 .swiper-slide {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  row-gap: 20px;
  width: max-content;
}
/* .section-02 .list {
    display: flex;
    align-items: center;
} */
.section-02 .list .item {
    width: 110px;
}
.section-02 .list img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 5px;
}
.section-02 .list .text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.section-02 .list .text p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section-02 .list .text b {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
    white-space: nowrap;
}
.section-02 .list .text span {
    font-size: 12px;
    font-weight: 400;
    color: #8D8D8D;
    white-space: nowrap;
}



.section-03 {
    width: 402px;
    padding: 75px 20px 80px;
    margin: 0 auto;
    border-bottom: 10px solid #eee;
}
.section-03 .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.section-03 .title h2 {
    font-size: 20px;
    font-weight: 700;
    color: #F8742E;
}
.section-03 .title img{
    height: 25px;
    object-fit: cover;
}

.section-03 .swiper-slide {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  row-gap: 15px;
  width: max-content;
}
/* .section-03 .list {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    row-gap: 15px;
} */
.section-03 .list .item{
    width: 100px;
    text-align: center;
 }
.section-03 .list .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 5px;
}
.section-03 .list .item a b {
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.section-04 {
    max-width: 480px;
    width: 402px;
    margin: 0 auto;
    padding: 80px 15px 105px;
    border-bottom: 10px solid #eee;
}
.section-04 h2 {
    margin-left: 5px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}
.section-04 .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.section-04 .list .depth-01 {
    display: flex;
    align-items: center;
    gap: 18px;
}
.section-04 .list .depth-02 {
    display: flex;
    align-items: center;
    gap: 18px;
}
.section-04 .list .item {
    width: 60px;
    height: 81px;
}
.section-04 .list .item img {
    width: 100%;
    height: 74.1%;
    object-fit: cover;
    border-radius: 3px;
}
.section-04 .list .item b {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.section-05 {
    max-width: 480px;
    width: 402px;
    margin: 80px auto 115px;
    padding: 0 20px;
}
.section-05 h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
}
.section-05 .tab_menu{
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}
.section-05 .tab_menu .swiper-slide {
    width: auto !important;
}
.section-05 .tab_menu .swiper-slide li {
    height: 30px;
    background-color: #E9E9E9;
    padding: 5px 15px;
    border-radius: 15px;
    color: #595959;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section-05 .tab_menu .swiper-slide li.active {
    background-color: #F8742E;
    color: #fff;
    font-weight: 600;
}
.section-05 .list {
    display: none;
}
.section-05 .list.active {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 10px;
}
.section-05 .list .depth-01,
.section-05 .list .depth-02{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section-05 .list .item {
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.section-05 .list .item .num b {
    font-size: 20px;
    font-weight: 700;
    margin-right: 17px;
}
.section-05 .list .item img {
    width: 22.1%;
    height: 100%;
    object-fit: cover;
   
}
.section-05 .list .item .text {
    width: 122px;
    display: flex;
    flex-direction: column;
  
}
.section-05 .list .item .text p {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 1px;
}
.section-05 .list .item .text span {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 122px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 122px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.section-05 .list .item .text b {
    font-size: 15px;
    font-weight: 700;
}
.section-05 .list .item .rank {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-05 .list .item .rank img{
    width: 10px;
    object-fit: cover;
    margin: 5px;
}
.section-05 .list .item .rank p{
    font-size: 12px;
    font-weight: 600;
}


.bottom_nav {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-top: 1px solid #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.bottom_nav .tab_nav {
    width: 402px;
    margin: 0 auto;
    padding: 14px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.bottom_nav .tab_nav li {
    width: 30px;
    height: 45px;
    text-align: center;
    cursor: pointer;
}
.bottom_nav .tab_nav li.active b{
    color: #F8742E;
    font-weight: bold;
}
.bottom_nav .tab_nav li:nth-child(3) {
    width: 40px;
}
.bottom_nav .tab_nav li:nth-child(3) img {
    width: 100%;
    object-fit: fill;
}
.bottom_nav .tab_nav li img {
    width: 83.33%;
    height: 60%;
    object-fit: cover;
}
.bottom_nav .tab_nav li b {
    font-size: 10px;
    font-weight: 500;
    color: #8D8D8D;
}


.footer {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    background-color: #F1F1F1;
    box-sizing: border-box;
}
.footer .inner{
    width: 402px;
    padding: 30px 20px;
    margin: 0 auto;
}
.footer .inner .info_wrap{
    position: relative;
}
.footer .inner .info_wrap::before{
    content: '';
    max-width: 480px;
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
    position: absolute;
    bottom: -30px;
    left: 0;
}
.footer .inner .info_wrap .address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 41px;
}
.footer .inner .info_wrap .address .depth-01 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .inner .info_wrap .address .depth-01 h3 {
    font-size: 14px;
    font-weight: 600;
}
.footer .inner .info_wrap .address .depth-01 ul li {
    font-size: 13px;
    font-weight: 500;
    color: #8D8D8D;
    line-height: 1.3;
}

.footer .inner .info_wrap .address .depth-02 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .inner .info_wrap .address .depth-02 h4 {
    font-size: 13px;
    font-weight: 600;
}
.footer .inner .info_wrap .address .depth-02 p {
    font-size: 12px;
    font-weight: 600;
    color: #595959;
}


.footer .inner .info_wrap .footer_nav {
    display: flex;
    gap: 92px;
    margin-bottom: 60px;
}
.footer .inner .info_wrap .footer_nav .depth-01 .gnb,
.footer .inner .info_wrap .footer_nav .depth-02 .gnb{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer .inner .info_wrap .footer_nav .depth-01 .gnb h3,
.footer .inner .info_wrap .footer_nav .depth-02 .gnb h3{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.footer .inner .info_wrap .footer_nav .depth-01 .gnb li,
.footer .inner .info_wrap .footer_nav .depth-02 .gnb li{
    font-size: 12px;
    font-weight: 500;
    color: #595959;
}


.footer .inner .servise_wrap .servise {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer .inner .servise_wrap .servise li {
    font-size: 12px;
    font-weight: 600;
    color: #595959;
}


.footer .inner .servise_wrap .snsinfo {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .inner .servise_wrap .snsinfo .sns {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer .inner .servise_wrap .snsinfo .sns li{
    width: 27px;
}
.footer .inner .servise_wrap .snsinfo .sns li img{
    width: 100%;
    object-fit: cover;
}
.footer .inner .servise_wrap .snsinfo .info {
    display: flex;
    align-items: center;
    gap: 6px;
}
.footer .inner .servise_wrap .snsinfo .info li{
    font-size: 12px;
    font-weight: 400;
}
.footer .inner .servise_wrap .snsinfo .info li img {
    height: 5px;
    object-fit: cover;
}
.footer .inner .servise_wrap p {
    font-size: 12px;
    font-weight: 400;
    color: #D8D8D8;
    line-height: 1.3;
    margin-bottom: 100px;
}